@font-face {
  font-family: db_helvethaica_x45_li;
  src: url('dist/db_helvethaica_x_li_v3.2.eot');
  src: url('dist/db_helvethaica_x_li_v3.2.eot?#iefix') format('embedded-opentype'),
      url('dist/db_helvethaica_x_li_v3.2.woff') format('woff'),
      url('dist/db_helvethaica_x_li_v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'db_helvethaica_x45_li', Arial, Helvetica, sans-serif;
  background-color: rgba(71, 198, 241, 0.72);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6vw;
  margin-bottom: 1vw;
  margin-top: 0;
  font-weight: bolder;
}

p {
  font-size: 5vw;
  margin-top: 1vw;
  margin-bottom: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  padding: 4vw;
  background-color: white;
  width: 80vw;
}

.author {
  display: flex;
}
