@font-face {
  font-weight: normal;
  font-style: normal;
}
/* for jitta live
@font-face {
  font-family: db_helvethaica_x65;
  src: url('../dist/db_helvethaica_x_med_v3.2.eot');
  src: url('../dist/db_helvethaica_x_med_v3.2.eot?#iefix') format('embedded-opentype'),
      url('../dist/db_helvethaica_x_med_v3.2.woff') format('woff'),
      url('../dist/db_helvethaica_x_med_v3.2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: 'db_helvethaica_x65', Helvetica Neue, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5vw;
  margin-bottom: 1vw;
  margin-top: 0;
  font-weight: bolder;
}

p {
  font-size: 4vw;
  margin-top: 1vw;
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
}

td,th {
  border: 1px solid black;
}

input {
  height: 32px;
  width: 100%;
  margin-top: 8px;
  font-size: 16px;
}

.input {
  padding: 8px;
}

.edit-card {
  position: relative;
  background-color: white;
  padding: 36px;
  border-radius: 8px;
  width: 50vw;
  margin: auto;
  margin-top: 80px;
}

#close-button {
  position: absolute;
  padding: 12px;
  cursor: pointer;
  top: 0;
  right: 0;
}

.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

.lower {
  border: 1px solid red;
}
.comment {
  display: inline-flex;
  position: relative;
  margin-bottom: 4vw;
}

.card {
  width: 85vw;
}

.card span {
  font-size: 2.7vw;
}

/* for jitta live
.card .name {
  background-color: #47c6f1;
  display: inline-flex;
  padding: 0.7vw 3vw 0.7vw 6.5vw;
  color: #fff;
  margin-bottom: -0.05vw;
  text-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
  border-radius: 0 1vw 0 0;
}

.card .content {
  background-color: #3E4141;
  padding: 1.5vw 3vw 1.5vw 4.5vw;
  box-shadow: 0 0.5vw 1.5vw 0.2vw rgba(0,0,0,0.24);
  color: #fff;
  border-radius: 1vw;
} */

.card .name {
  background-color: #DBD6C8;
  color: #000000;
  display: inline-flex;
  padding: 0.7vw 3vw 0.7vw 6.5vw;
  margin-bottom: -0.05vw;
  text-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
}


.card .content {
  background-color: #FFFFFF;
  padding: 1.5vw 3vw 1.5vw 4.5vw;
  box-shadow: 0 0.5vw 1.5vw 0.2vw rgba(0,0,0,0.24);
  color: #000000;
}


#author {
  font-weight: bold;
  padding-right: 1vw;
}

#profile-picture {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  object-fit: cover;
  margin-right: 2vw;
  border: 0.4vw solid white;
  position: absolute;
  left: -4vw;
  top: -1.5vw;
  box-shadow: 0 0.25vw 1.5vw 0 rgba(0,0,0,0.16);
}

#modal {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.55);
  width: 100vw;
  height: 100vh;
}
